.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #05280c;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #aae0c9;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 50%;

    
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}
.button {
    
    top:50%;
    background-color:#4ae53f;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 100px;
  }

  .button-2{
    
    top:50%;
    background-color:#e8594f;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 100px;
  }